body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: 'source-code-pro', 'Menlo', 'Monaco', 'Consolas', 'Courier New', monospace;
}

/* ---------------------------------------------------------
                    UPLOAD CONTAINER CSS
*/
.uploadContainer {
    box-sizing: border-box;
    border: 1px dashed #d4d6db;
    border-radius: 4px;
    width: 580px;
    height: 241px;
}

.uploadButton {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.clickable {
    cursor: pointer;
}
/*
   ---------------------------------------------------------
 */
